body{
  font-family: 'Quicksand', sans-serif, 'M PLUS Rounded 1c', sans-serif;
}

/* #city_p{
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

#temp_p{
    font-size: 5rem;
    padding: 0;
    margin: 0;
}

#weather_p{
    padding: 0;
    margin: 0;
}

#max_temp_p{
    padding: 0;
    margin: 0;
}

#min_temp_p{
    padding: 0;
    margin: 0;
}

.container {
    background-color: #333;
    text-align: center;
    width: 20rem;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.1em 0.1em;
    grid-auto-flow: column dense;
    grid-template-areas:
      "city city"
      "temp temp"
      "temp temp"
      "weather weather"
      "min_max_temp min_max_temp";
  }
  
  .city { 
    background-color: #ddd;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    grid-area: city; 
    text-align: center;
}
  
  .temp { 
    background-color: #ddd;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    grid-area: temp; 
    text-align: center;

}
  
  .weather { 
    background-color: #ddd;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    grid-area: weather;
    text-align: center;

}
  
  .min_max_temp { 
    background-color: #ddd;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    grid-area: min_max_temp;

} */

.container{
  height: 15em;     /* 高さを制限(※) */
  overflow: scroll;  /* スクロールバーを表示(※) */
  border: red 1px dashed;    /* 枠線を追加 */
  background-color: #fff0f0; /* 背景色を追加 */
}

#input_max_temp,#input_min_temp,#input_humidity{
width:8rem;
}

#result{
  visibility: hidden;
}