body{
  font-family: 'Quicksand', sans-serif, 'M PLUS Rounded 1c', sans-serif;
}

/* #city_p{
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

#temp_p{
    font-size: 5rem;
    padding: 0;
    margin: 0;
}

#weather_p{
    padding: 0;
    margin: 0;
}

#max_temp_p{
    padding: 0;
    margin: 0;
}

#min_temp_p{
    padding: 0;
    margin: 0;
}

.container {
    background-color: #333;
    text-align: center;
    width: 20rem;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.1em 0.1em;
    grid-auto-flow: column dense;
    grid-template-areas:
      "city city"
      "temp temp"
      "temp temp"
      "weather weather"
      "min_max_temp min_max_temp";
  }
  
  .city { 
    background-color: #ddd;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    grid-area: city; 
    text-align: center;
}
  
  .temp { 
    background-color: #ddd;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    grid-area: temp; 
    text-align: center;

}
  
  .weather { 
    background-color: #ddd;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    grid-area: weather;
    text-align: center;

}
  
  .min_max_temp { 
    background-color: #ddd;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    grid-area: min_max_temp;

} */



#input_max_temp,#input_min_temp,#input_humidity{
width:8rem;
}

#result{
  visibility: hidden;
}


.container {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em 0em;
  grid-auto-flow: row;
}

.temp { grid-area: 1 / 1 / 2 / 3; }

.feel_likes { grid-area: 2 / 1 / 3 / 3; }
.humidityarray { grid-area: 3 / 1 / 4 / 3; }
.pop { grid-area: 4 / 1 / 5 / 3; }
.precipitation { grid-area: 5 / 1 / 6 / 3; }
.weather { grid-area: 6 / 1 / 7 / 2; }
.weather_icon { grid-area: 6 / 2 / 7 / 3; }
.aria { grid-area: 1 / 1 / 7 / 3; }
